.column {
  float: left;
  width: 40%;
  padding: 3px;
  margin:10px
}
.columnR {
  float: right;
  width: 40%;
  margin:10px
}

.columnB {
  float: center;
  width: 10%;
  padding: 3px;
  margin:10px;
}
.columnBR {
  float: center;
  width: 10%;
  padding: 3px;
  margin:10px;
}
